mat-card {
  margin: 50px;
  padding: 50px;
  display: inline-flex;

  tr {
    td {
      padding-bottom: 30px;

      .view-btn {
        height: 24px;
        width: 24px;
        padding: 0;
        margin: 0;
        line-height: 0;
      }

      mat-icon {
        margin: 0;
      }

      .non-configured-text {
        vertical-align: super;
      }
    }

    mat-expansion-panel {
      box-shadow: none;

      mat-expansion-panel-header {
        padding-left: 0;
        font-size: 14px;
      }
    }

    .header {
      text-align: right;
      padding-right: 10px;
    }

    mat-divider {
      position: static;
      border-width: 2px;
    }
  }
}

.user-group-card {
  height: fit-content;

  mat-card-header {
    margin-bottom: 20px;
  }

  .btn-block {
    margin: 5px;
    width: 100%;
  }
}

.state-card {
  height: fit-content;

  mat-card-header {
    margin-bottom: 20px;
  }

  mat-slide-toggle {
    margin-bottom: 20px;
  }

  .btn-block {
    margin: 5px;
    width: 100%;
  }
}

.formula-card {
  height: fit-content;

  mat-card-header {
    margin-bottom: 20px;
  }

  .btn-block {
    margin: 5px;
    width: 100%;
  }
}
