<div fxLayout="row" fxFlexFill>
  <mat-card>
    <mat-card-content>
      <table *ngIf="executive">
        <tr>
          <td class="header">Nazwa:</td>
          <td><b>{{executive.name}}</b></td>
        </tr>

        <tr>
          <td class="header">Stan:</td>
          <td><b>{{executive.state}}</b></td>
          <td>
            <mat-icon>edit</mat-icon>
          </td>
        </tr>

        <tr>
          <td colspan="3">
            <mat-divider></mat-divider>
          </td>
        </tr>

        <tr>
          <td class="header">Klucz urządzenia:</td>
          <td><b>{{executive.deviceKey}}</b></td>
        </tr>

        <tr>
          <td class="header">Typ:</td>
          <td><b>{{executive.deviceTypeName}}</b></td>
        </tr>

        <tr>
          <td class="header">Grupa użytkowników:</td>
          <td><b>{{executive.isAssigned ? executive.deviceUserGroup : 'Brak grupy'}}</b></td>
          <td>
            <button mat-button class="view-btn" (click)="showUserGroupChangeCard()">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </tr>

        <tr>
          <td colspan="3">
            <mat-divider></mat-divider>
          </td>
        </tr>

        <tr>
          <td class="header">Zsynchronizowane:</td>
          <td><b>{{executive.isUpdated}}</b></td>
        </tr>

        <tr>
          <td class="header">Aktywne:</td>
          <td><b>{{executive.isActive}}</b></td>
        </tr>

        <tr>
          <td class="header">Stan domyślny:</td>
          <td><b>{{executive.defaultState}}</b></td>
        </tr>

        <tr>
          <td colspan="3">
            <mat-divider></mat-divider>
          </td>
        </tr>

        <tr>
          <td class="header">Automatyczne sterowanie:</td>
          <td><b>{{executive.isFormulaUsed}}</b></td>
          <td *ngIf="executive.formulaName">
            <mat-icon>edit</mat-icon>
          </td>
        </tr>

        <tr>
          <td class="header">Nazwa formuły:</td>
          <td><b>{{executive.formulaName ? executive.formulaName : 'Brak formuły'}}</b></td>
          <td>
            <mat-icon>edit</mat-icon>
          </td>
        </tr>

        <tr *ngIf="executive.formulaName">
          <td class="header">Stan gdy formuła spełniona:</td>
          <td><b>{{executive.positiveState}}</b></td>
          <td>
            <mat-icon>edit</mat-icon>
          </td>
        </tr>

        <tr *ngIf="executive.formulaName">
          <td class="header">Stan gdy formuła niespełniona:</td>
          <td><b>{{executive.negativeState}}</b></td>
          <td>
            <mat-icon>edit</mat-icon>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>

  <mat-card class='user-group-card' *ngIf="isUserGroupChangeCardVisible">
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <mat-label>Nazwa grupy</mat-label>
        <mat-select [(value)]="selectedUserGroup">
          <mat-option *ngFor="let userGroup of userGroups" [value]="userGroup.name">{{userGroup.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-stroked-button color="accent" class="btn-block" (click)="changeUserGroup()">
        Zmień grupę użytkowników
      </button>
      <button mat-stroked-button color="primary" class="btn-block" (click)="deleteUserGroup()">
        Usuń z grupy użytkowników
      </button>
    </mat-card-content>
  </mat-card>
</div>
