<app-admin-inner-toolbar></app-admin-inner-toolbar>
<div [ngSwitch]="currentView">


  <app-user-group *ngSwitchCase="'userGroupList'"
                  [productKey]="productKey"></app-user-group>

  <app-unconfigured-devices *ngSwitchCase="'unconfiguredList'"
                            [productKey]="productKey"></app-unconfigured-devices>

  <app-devices *ngSwitchCase="'devicesList'"
               [productKey]="productKey"></app-devices>

  <app-sensors *ngSwitchCase="'sensorsList'"
               [productKey]="productKey"></app-sensors>

  <app-executive-type *ngSwitchCase="'executiveTypesList'"
                      [productKey]="productKey"></app-executive-type>

  <app-sensor-type *ngSwitchCase="'sensorTypesList'"
                   [productKey]="productKey"></app-sensor-type>

  <app-delete-device-group *ngSwitchCase="'deleteDeviceGroup'"
                           [productKey]="productKey"></app-delete-device-group>

  <app-change-device-group-name *ngSwitchCase="'changeDeviceGroupName'"
                                [productKey]="productKey"></app-change-device-group-name>

  <app-sensor-details *ngSwitchCase="'sensorDetails'"
                      [productKey]="productKey"
                      [deviceKey]="selectedSensor"></app-sensor-details>


  <app-admin-start-card *ngSwitchDefault></app-admin-start-card>
</div>
