<div class="register-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Rejestracja</mat-card-title>
    </mat-card-header>

    <form class="form">

      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput placeholder="Nazwa użytkownika" [formControl]="usernameFormControl">
          <mat-error *ngIf="usernameFormControl.hasError('required')">
            Nazwa użytkownika jest <strong>wymagana</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Email" [formControl]="emailFormControl">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Proszę podać poprawny adres email
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email jest <strong>wymagany</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Hasło" type="password" [formControl]="passwordFormControl">
          <mat-error *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')">
            Proszę podać poprawne hasło
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Hasło jest <strong>wymagane</strong>
          </mat-error>
        </mat-form-field>

      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block" (click)="onRegister()">Zarejestruj się</button>
      <button mat-button color="accent" class="btn-block" routerLink="/admin-register" routerLinkActive="active">
        Jesteś administratorem? Zarejestruj się tutaj
      </button>
    </form>
  </mat-card>
</div>
