<div class="register-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Rejestracja</mat-card-title>
    </mat-card-header>

    <form class="form">

      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput placeholder="Nazwa użytkownika">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Email">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Hasło">
        </mat-form-field>

      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block">Zarejestruj się</button>

    </form>
  </mat-card>
</div>
