<app-inner-toolbar></app-inner-toolbar>
<div [ngSwitch]="currentView">
  <app-device-groups-card *ngSwitchCase="'deviceGroupList'"></app-device-groups-card>
  <app-user-groups *ngSwitchCase="'userGroupAssignedToList'"
                   [productKey]="selectedDeviceGroup"></app-user-groups>
  <app-sensors *ngSwitchCase="'sensorsInUserGroup'"
               [productKey]="selectedDeviceGroup"
               [userGroupName]="selectedUserGroup"></app-sensors>
  <app-start-card *ngSwitchDefault></app-start-card>
</div>
