<app-inner-toolbar></app-inner-toolbar>
<div [ngSwitch]="currentView">
  <app-device-groups-card *ngSwitchCase="'deviceGroupList'"></app-device-groups-card>
  <app-user-groups *ngSwitchCase="'userGroupAssignedToList'"
                   [productKey]="selectedDeviceGroup"></app-user-groups>
  <app-sensors *ngSwitchCase="'sensorsInUserGroup'"
               [productKey]="selectedDeviceGroup"
               [userGroupName]="selectedUserGroup"></app-sensors>
  <app-executives *ngSwitchCase="'executivesInUserGroup'"
                  [productKey]="selectedDeviceGroup"
                  [userGroupName]="selectedUserGroup"></app-executives>
  <app-formulas *ngSwitchCase="'formulasInUserGroup'"
                [productKey]="selectedDeviceGroup"
                [userGroupName]="selectedUserGroup"></app-formulas>
  <app-user-groups-in-device *ngSwitchCase="'joiningUserGroupsInDevice'"
                             [productKey]="selectedDeviceGroup"></app-user-groups-in-device>
  <app-unassigned-executives *ngSwitchCase="'listUnassignedExecutives'"
                             [productKey]="selectedDeviceGroup"
                             [userGroupName]="selectedUserGroup"></app-unassigned-executives>
  <app-unassigned-sensors *ngSwitchCase="'listUnassignedSensors'"
                          [productKey]="selectedDeviceGroup"
                          [userGroupName]="selectedUserGroup"></app-unassigned-sensors>
  <app-add-device-group *ngSwitchCase="'addNewDeviceGroup'"></app-add-device-group>
  <app-create-user-group *ngSwitchCase="'createUserGroup'"
                         [productKey]="selectedDeviceGroup"></app-create-user-group>
  <app-join-user-group *ngSwitchCase="'joiningUserGroup'"
                       [productKey]="selectedDeviceGroup"
                       [userGroupName]="selectedJoiningUserGroup"></app-join-user-group>
  <app-sensor *ngSwitchCase="'showSensor'"
              [productKey]="selectedDeviceGroup"
              [deviceKey]="selectedSensor"></app-sensor>
  <app-executive *ngSwitchCase="'showExecutive'"
                 [productKey]="selectedDeviceGroup"
                 [deviceKey]="selectedExecutive"></app-executive>
  <app-start-card *ngSwitchDefault></app-start-card>
</div>
