<div fxLayout="row" fxFlexFill fxLayoutAlign="center">
  <mat-card>
    <section>
      <mat-progress-bar *ngIf="progressBar"
                        [color]="'primary'"
                        [mode]="'indeterminate'">
      </mat-progress-bar>
    </section>

    <mat-card-header>
      Zmień nazwę grupy urządzeń
    </mat-card-header>

    <form fxLayout="column" [formGroup]="nameFormGroup">
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="Nazwa grupy urządzeń" formControlName="nameCtrl"
                 value="{{deviceGroupName}}">
          <mat-error *ngIf="nameFormGroup.get('nameCtrl').hasError('required')">
            Nazwa grupy jest <strong>wymagana</strong>
          </mat-error>
        </mat-form-field>

      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" (click)="onChangeName()"
              [disabled]="!nameFormGroup.valid">Zmień nazwę
      </button>
    </form>
  </mat-card>
</div>
