<div class="flex_box" fxLayout="column" fxFlexFill>
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <div class="box" fxLayoutAlign="center center" fxLayout="column">
        <button mat-button routerLink="/user/dashboard" routerLinkActive="active" mat-flat-button
                (click)="closeChildren()">
          <mat-icon>home</mat-icon>
          Strona domowa
        </button>
        <mat-divider></mat-divider>
        <button mat-flat-button (click)="getDeviceGroupList()">
          <mat-icon>device_hub</mat-icon>
          Urządzenia główne
        </button>
        <div *ngIf="selectedDeviceGroup !== null">
          <button mat-flat-button (click)="getUserGroupList()">
            <mat-icon>group</mat-icon>
            Grupy użytkowników
          </button>
          <mat-divider></mat-divider>
        </div>
        <div *ngIf="selectedUserGroup !== null">
          <button mat-flat-button (click)="getExecutiveList()">
            <mat-icon>power</mat-icon>
            Urządzenia
          </button>
          <button mat-flat-button (click)="getSensorList()">
            <mat-icon>settings_input_antenna</mat-icon>
            Czujniki
          </button>
          <button mat-flat-button (click)="getFormulaList()">
            <mat-icon>functions</mat-icon>
            Formuły
          </button>
          <mat-divider></mat-divider>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-content select="div[role=dashboard]"></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <ng-content fxFlexOffset="auto" select="div[role=footer]"></ng-content>
</div>

