<div fxLayout="row" fxFlexFill>
  <mat-card>
    <mat-card-content>
      <table *ngIf="formula">
        <tr>
          <td class="header">Nazwa:</td>
          <td><b>{{formula.name}}</b></td>
        </tr>

        <tr>
          <td colspan="3">
            <mat-divider></mat-divider>
          </td>
        </tr>

        <ng-container *ngIf="formula.rule.datetimeRule">
          <tr *ngIf="activeDays">
            <td class="header">Aktywna w dni tygodnia:</td>
            <td>
              <ng-container *ngFor="let activeDay of activeDays">
                <b>{{activeDay}}</b><br>
              </ng-container>
            </td>
          </tr>

          <tr>
            <td class="header">Godzina rozpoczęcia:</td>
            <td><b>{{formula.rule.datetimeRule.datetimeStart | date:'HH:mm:ss':'UTC'}}</b></td>
          </tr>

          <tr>
            <td class="header">Godzina zakończenia:</td>
            <td>
              <b>
                {{formula.rule.datetimeRule.datetimeEnd | date:'HH:mm:ss':'UTC'}}
                <ng-container *ngIf="formula.rule.datetimeRule.datetimeEnd < formula.rule.datetimeRule.datetimeStart">
                  następnego dnia
                </ng-container>
              </b>
            </td>
          </tr>
        </ng-container>

        <ng-container *ngIf="formula.rule.datetimeRule && formula.rule.sensorRule">
          <tr>
            <td class="header">Operator logiczny pomiędzy okresem czasu i regułą:</td>
            <ng-container *ngIf="formulaDisplay === 'showMathDisplay'">
              <td *ngIf="formula.rule.operator === 'and'"><b>∧</b></td>
              <td *ngIf="formula.rule.operator === 'or'"><b>∨</b></td>
            </ng-container>

            <ng-container *ngIf="formulaDisplay === 'showTextDisplay'">
              <td *ngIf="formula.rule.operator === 'and'"><b>i</b></td>
              <td *ngIf="formula.rule.operator === 'or'"><b>lub</b></td>
            </ng-container>
          </tr>
        </ng-container>

        <ng-container *ngIf="formula.rule.sensorRule">
          <tr>
            <td></td>
            <td>
              <div fxLayoutAlign="end">
                <mat-button-toggle-group #group="matButtonToggleGroup" [(value)]="formulaDisplay"
                                         class="displayFormulaBtnGroup">
                  <mat-button-toggle value="showMathDisplay" aria-label="Zmień na postać matematyczną"
                                     matTooltip='Zmień na postać matematyczną'>
                    <mat-icon>functions</mat-icon>
                  </mat-button-toggle>
                  <mat-button-toggle value="showTextDisplay" aria-label="Zmień na postać tekstową"
                                     matTooltip='Zmień na postać tekstową'>
                    <mat-icon>text_format</mat-icon>
                  </mat-button-toggle>
                </mat-button-toggle-group>
              </div>
            </td>
          </tr>

          <tr>
            <td class="header">Reguła formuły:</td>
            <td class="formula" *ngIf="formulaDisplay === 'showMathDisplay'">
              <ng-container [ngTemplateOutlet]="complexFormulaTemplate"
                            [ngTemplateOutletContext]="{$implicit: formula.rule.sensorRule}"></ng-container>
            </td>
            <td class="formula-text" *ngIf="formulaDisplay === 'showTextDisplay'">
              <b>Reguła jest spełniona, </b>
              <ng-container [ngTemplateOutlet]="complexFormulaTextTemplate"
                            [ngTemplateOutletContext]="{$implicit: formula.rule.sensorRule}"></ng-container>
              <b>.</b>
            </td>
          </tr>
        </ng-container>
      </table>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #complexFormulaTextTemplate let-rule>
  <b>
    <ng-container *ngIf="rule.isNegated && !rule.operator">gdy nieprawdą jest, że czujnik o nazwie</ng-container>
    <ng-container *ngIf="!rule.isNegated">jeżeli czujnik o nazwie</ng-container>
    <ng-container *ngIf="rule.deviceKey">
      <b class="color-primary"> {{sensorNamesByDeviceKey.get(rule.deviceKey)}}</b>

      <ng-container [ngSwitch]="rule.functor">
        <ng-container *ngSwitchCase="'=>'"> przyjmuje stan równy lub większy od</ng-container>
        <ng-container *ngSwitchCase="'<='"> przyjmuje stan równy lub mniejszy od</ng-container>
        <ng-container *ngSwitchCase="'=='"> przyjmuje stan</ng-container>
        <ng-container *ngSwitchCase="'!='"> nie przyjmuje stanu</ng-container>

      </ng-container>
      <b *ngIf="rule.value === true" class="color-primary"> alternatywny</b>
      <b *ngIf="rule.value === false" class="color-primary"> podstawowy</b>
      <b *ngIf="rule.value !== true && rule.value !== false" class="color-primary"> {{rule.value}}</b>
    </ng-container>

    <ng-container *ngIf="rule.operator">gdy zdania (</ng-container>
    <ng-container *ngIf="rule.complexLeft"
                  [ngTemplateOutlet]="complexFormulaTextTemplate"
                  [ngTemplateOutletContext]="{$implicit: rule.complexLeft}"></ng-container>

    <ng-container [ngSwitch]="rule.operator">
      <ng-container *ngSwitchCase="'and'"><br> i <br></ng-container>
      <ng-container *ngSwitchCase="'or'"><br> lub <br></ng-container>
    </ng-container>

    <ng-container *ngIf="rule.complexRight"
                  [ngTemplateOutlet]="complexFormulaTextTemplate"
                  [ngTemplateOutletContext]="{$implicit: rule.complexRight}"></ng-container>

    <ng-container *ngIf="rule.operator">)</ng-container>
    <ng-container *ngIf="rule.isNegated && rule.operator"> łącznie są nieprawdziwe</ng-container>
  </b>
</ng-template>

<ng-template #complexFormulaTemplate let-rule>
  <b>
    <ng-container *ngIf="rule.isNegated"> ¬</ng-container>
    <ng-container *ngIf="rule.isNegated && !rule.operator">(</ng-container>

    <ng-container *ngIf="rule.deviceKey">{{sensorNamesByDeviceKey.get(rule.deviceKey)}}
      <ng-container [ngSwitch]="rule.functor">
        <ng-container *ngSwitchCase="'=>'"> ≥</ng-container>
        <ng-container *ngSwitchCase="'<='"> ≤</ng-container>
        <ng-container *ngSwitchCase="'=='"> =</ng-container>
        <ng-container *ngSwitchCase="'!='"> ≠</ng-container>
      </ng-container>

      <b *ngIf="rule.value === true" class="color-primary"> alternatywny</b>
      <b *ngIf="rule.value === false" class="color-primary"> podstawowy</b>
      <b *ngIf="rule.value !== true && rule.value !== false" class="color-primary"> {{rule.value}}</b>
    </ng-container>

    <ng-container *ngIf="rule.isNegated && !rule.operator">)</ng-container>
    <ng-container *ngIf="rule.operator">(</ng-container>

    <ng-container *ngIf="rule.complexLeft"
                  [ngTemplateOutlet]="complexFormulaTemplate"
                  [ngTemplateOutletContext]="{$implicit: rule.complexLeft}"></ng-container>

    <ng-container [ngSwitch]="rule.operator">
      <ng-container *ngSwitchCase="'and'"> ∧</ng-container>
      <ng-container *ngSwitchCase="'or'"> ∨</ng-container>
    </ng-container>

    <ng-container *ngIf="rule.complexRight"
                  [ngTemplateOutlet]="complexFormulaTemplate"
                  [ngTemplateOutletContext]="{$implicit: rule.complexRight}"></ng-container>
    <ng-container *ngIf="rule.operator">)</ng-container>
  </b>
</ng-template>
