mat-card {
  margin: 50px;
  padding: 50px;
  height: fit-content;

  tr {

    td {
      padding-bottom: 30px;

      .view-btn {
        height: 24px;
        width: 24px;
        padding: 0;
        margin: 0;
        line-height: 0;
      }
    }

    .displayFormulaBtnGroup {
      width: fit-content;
    }

    mat-button-toggle-group {
      margin-left: 12px;

      mat-button-toggle ::ng-deep .mat-button-toggle-label-content {
        line-height: 10px !important;
      }

      .mat-button-toggle-checked {
        background-color: rgb(63, 81, 181);
        color: white;
      }
    }

    .formula {
      font-size: 18px;
    }

    .formula-text {
      font-size: 18px;
      text-align: center;
    }

    .header {
      text-align: right;
      padding-right: 10px;
    }

    mat-divider {
      position: static;
      border-width: 2px;
    }
  }
}

