mat-card {
  margin: 50px;
  padding: 50px;
  display: inline-flex;

  td {
    padding-bottom: 30px;
  }

  .header {
    text-align: right;
    padding-right: 10px;
  }

  mat-divider {
    position: static;
    border-width: 2px;
  }
}

