<mat-card class="add-device-card">
  <mat-card-content>
    <section>
      <mat-progress-bar *ngIf="progressBar"
                        [color]="'primary'"
                        [mode]="'indeterminate'">
      </mat-progress-bar>
    </section>
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="groupNameFormGroup">
        <form [formGroup]="groupNameFormGroup">
          <ng-template matStepLabel>Podaj nazwę grupy</ng-template>
          <mat-form-field>
            <input matInput placeholder="Nazwa" formControlName="groupNameCtrl" required
                   (keyup)="populateGroupName($event.target.value)">
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Dalej</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="passwordFormGroup">
        <form [formGroup]="passwordFormGroup">
          <ng-template matStepLabel>Podaj hasło</ng-template>
          <mat-form-field>
            <input matInput placeholder="Hasło" type="password" formControlName="passwordCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Cofnij</button>
            <button mat-button matStepperNext>Dalej</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Stwórz</ng-template>
        <div fxLayout="column" fxLayoutAlign="center">
          <mat-form-field
            [hideRequiredMarker]="true"
            [floatLabel]="'auto'">
            <input matInput placeholder="Nazwa grupy"
                   value="{{selectedGroupName}}"
                   required disabled>
          </mat-form-field>
          <button mat-stroked-button color="accent" class="btn-block" (click)="createUserGroup()">Stwórz</button>
          <div>
            <button mat-button matStepperPrevious>Cofnij</button>
            <button mat-button (click)="stepper.reset()">Zacznij od początku</button>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>
