<mat-toolbar [ngSwitch]="currentView" color="primary">
  <div *ngSwitchCase="'deviceGroupList'">Urządzenia główne</div>
  <div *ngSwitchCase="'addNewDeviceGroup'">Dodaj urządzenie główne</div>
  <div *ngSwitchCase="'userGroupAssignedToList'" fxLayoutAlign="center center">
    {{selectedDeviceGroup}}
    <mat-icon>arrow_forward_ios</mat-icon>
    Grupy użytkowników
  </div>
  <div *ngSwitchCase="'sensorsInUserGroup'" fxLayoutAlign="center center">
    {{selectedDeviceGroup}}
    <mat-icon>arrow_forward_ios</mat-icon>
    {{selectedUserGroup}}
    <mat-icon>arrow_forward_ios</mat-icon>
    Sensory
  </div>
  <div *ngSwitchCase="'executivesInUserGroup'" fxLayoutAlign="center center">
    {{selectedDeviceGroup}}
    <mat-icon>arrow_forward_ios</mat-icon>
    {{selectedUserGroup}}
    <mat-icon>arrow_forward_ios</mat-icon>
    Urządzenia
  </div>
  <div *ngSwitchCase="'formulasInUserGroup'" fxLayoutAlign="center center">
    {{selectedDeviceGroup}}
    <mat-icon>arrow_forward_ios</mat-icon>
    {{selectedUserGroup}}
    <mat-icon>arrow_forward_ios</mat-icon>
    Formuły
  </div>
  <div *ngSwitchCase="'joiningUserGroupsInDevice'" fxLayoutAlign="center center">
    {{selectedDeviceGroup}}
    <mat-icon>arrow_forward_ios</mat-icon>
    Dostępne grupy użytkowników
  </div>
  <div *ngSwitchCase="'listUnassignedExecutives'" fxLayoutAlign="center center">
    {{selectedDeviceGroup}}
    <mat-icon>arrow_forward_ios</mat-icon>
    Dostępne nieprzypisane urządzenia
  </div>
  <div *ngSwitchCase="'listUnassignedSensors'" fxLayoutAlign="center center">
    {{selectedDeviceGroup}}
    <mat-icon>arrow_forward_ios</mat-icon>
    Dostępne nieprzypisane czujniki
  </div>
  <div *ngSwitchCase="'createUserGroup'" fxLayoutAlign="center center">
    {{selectedDeviceGroup}}
    <mat-icon>arrow_forward_ios</mat-icon>
    Stwórz grupę użytkowników
  </div>
  <div *ngSwitchCase="'joiningUserGroup'" fxLayoutAlign="center center">
    {{selectedDeviceGroup}}
    <mat-icon>arrow_forward_ios</mat-icon>
    Dołącz do grupy użytkowników
  </div>
  <div *ngSwitchCase="'showSensor'" fxLayoutAlign="center center">
    {{selectedDeviceGroup}}
    <mat-icon *ngIf="selectedUserGroup !== null">arrow_forward_ios</mat-icon>
    <div *ngIf="selectedUserGroup !== null">{{selectedUserGroup}}</div>
    <mat-icon>arrow_forward_ios</mat-icon>
    {{selectedSensorName}}
  </div>
  <div *ngSwitchCase="'showExecutive'" fxLayoutAlign="center center">
    {{selectedDeviceGroup}}
    <mat-icon *ngIf="selectedUserGroup !== null">arrow_forward_ios</mat-icon>
    <div *ngIf="selectedUserGroup !== null">{{selectedUserGroup}}</div>
    <mat-icon>arrow_forward_ios</mat-icon>
    {{selectedExecutiveName}}
  </div>
  <div *ngSwitchDefault>Strona domowa</div>
</mat-toolbar>
