<mat-toolbar [ngSwitch]="currentView" color="primary">
  <p *ngSwitchCase="'deviceGroupList'">Urządzenia główne</p>
  <p *ngSwitchCase="'addNewDviceGroup'">Dodaj urządzenie główne</p>
  <p *ngSwitchCase="'userGroupAssignedToList'" fxLayoutAlign="center center">
    {{selectedDeviceGroup}}
    <mat-icon>arrow_forward_ios</mat-icon>
    Grupy użytkowników
  </p>
  <p *ngSwitchCase="'sensorsInUserGroup'" fxLayoutAlign="center center">
    {{selectedDeviceGroup}}
    <mat-icon>arrow_forward_ios</mat-icon>
    {{selectedUserGroup}}
    <mat-icon>arrow_forward_ios</mat-icon>
    Sensory
  </p>
  <p *ngSwitchDefault>Strona domowa</p>
</mat-toolbar>
