<div class="card-container">
  <mat-card>
    <section>
      <mat-progress-bar *ngIf="progressBar"
                        [color]="'primary'"
                        [mode]="'indeterminate'">
      </mat-progress-bar>
    </section>

    <mat-card-content>
      <form fxLayout="column" [formGroup]="formulaFormGroup">
        <mat-card-title>Stwórz formułę automatycznego sterowania</mat-card-title>
        <div>
          <mat-form-field>
            <input matInput placeholder="Nazwa" formControlName="nameCtrl" required>
            <mat-error>Nazwa jest <b>wymagana</b></mat-error>
          </mat-form-field>
        </div>

        <button mat-stroked-button color="accent" class="btn-block" (click)="changeTimeRule()"
                *ngIf="!isTimeRuleCreatorVisible">
          Stwórz regułę czasową
        </button>

        <ng-container *ngIf="isTimeRuleCreatorVisible">
          <mat-card-title class="subtitle">
            Reguła czasowa
            <div fxLayoutAlign="end">
              <button mat-button class="view-btn" (click)="changeTimeRule()"
                      matTooltip='Usuń regułę czasową'>
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-card-title>

          <div>
            <mat-form-field>
              <input matInput type="time" placeholder="Godzina rozpoczęcia" formControlName="timeStartCtrl"
                     (change)="populateTimeStart($event.target.value)">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <input matInput type="time" placeholder="Godzina zakończenia" formControlName="timeEndCtrl"
                     (change)="populateTimeEnd($event.target.value)">
            </mat-form-field>
          </div>

          <mat-card-subtitle>Aktywna w dni tygodnia:</mat-card-subtitle>
          <div>
            <mat-button-toggle-group name=" daysPicker" multiple>
              <mat-button-toggle *ngFor="let day of selectableDays" [value]="day"
                                 (change)="day.selected = !day.selected"
                                 [checked]="day.selected">{{day.name}}</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </ng-container>

        <button mat-stroked-button color="accent" class="btn-block" (click)="changeLogicRule()"
                *ngIf="!isLogicRuleCreatorVisible">
          Stwórz regułę logiczną
        </button>

        <ng-container *ngIf="isLogicRuleCreatorVisible">
          <mat-card-title class="subtitle">
            Reguła logiczna
            <div fxLayoutAlign="end">
              <button mat-button class="view-btn" (click)="changeLogicRule()"
                      matTooltip='Usuń regułę logiczną'>
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-card-title>

          <div cdkDropListGroup class="drag-boundary" fxLayout="row">

            <div fxLayout="column">

              <div class="drag-container">
                <h3>Dostępne fragmenty reguły</h3>
                <div
                  cdkDropList
                  #ruleFragmentList="cdkDropList"
                  [id]="'ruleFragmentList'"
                  [cdkDropListData]="ruleFragmentListData"
                  class="drag-list"
                  (cdkDropListDropped)="dropBasic($event)">
                  <div class="drag-box" *ngFor="let item of ruleFragmentListData" cdkDrag [cdkDragData]="item"
                       cdkDragBoundary=".drag-boundary">
                    <div *cdkDragPlaceholder class="drag-placeholder"></div>
                    {{item}}
                  </div>
                </div>
              </div>

              <div class="drag-container">
                <h3>Operatory logiczne</h3>
                <div
                  cdkDropList
                  #basicList="cdkDropList"
                  [id]="'basicList'"
                  [cdkDropListData]="basicListData"
                  class="drag-list"
                  (cdkDropListDropped)="dropBasic($event)">
                  <div class="drag-box" *ngFor="let item of basicListData" cdkDrag [cdkDragData]="item"
                       cdkDragBoundary=".drag-boundary">
                    <div *cdkDragPlaceholder class="drag-placeholder"></div>
                    {{item}}
                  </div>
                </div>
              </div>

            </div>

            <div>
              <h3>Kreator reguły</h3>

              <ng-container [ngTemplateOutlet]="ruleCreator"
                            [ngTemplateOutletContext]="{$implicit: []}"></ng-container>

              <ng-template #ruleCreator let-arrayData>
                <div fxLayout="row">
                  <div class="drag-container custom-drag-container">
                    <div
                      cdkDropList
                      [cdkDropListData]="arrayData"
                      class="drag-list"
                      (cdkDropListDropped)="drop($event)">
                      <p *ngIf="arrayData.length === 0" fxLayoutAlign="center center" class="drag-list-text">
                        <i>Upuść fragment reguły lub operator logiczny łączący kolejne elementy</i>
                      </p>
                      <div class="drag-box" *ngFor="let item of arrayData" cdkDrag [cdkDragData]="item"
                           cdkDragBoundary=".drag-boundary">
                        <div *cdkDragPlaceholder class="drag-placeholder"><p>Test</p></div>
                        {{item}}
                      </div>
                    </div>
                  </div>

<!--                  <div fxLayout="column">-->
<!--                    <ng-container *ngIf="ruleListData && ruleListData.length > 0" [ngTemplateOutlet]="ruleCreator"-->
<!--                                  [ngTemplateOutletContext]="{$implicit: []}"></ng-container>-->
<!--                    <ng-container *ngIf="ruleListData && ruleListData.length > 0" [ngTemplateOutlet]="ruleCreator"-->
<!--                                  [ngTemplateOutletContext]="{$implicit: []}"></ng-container>-->
<!--                  </div>-->
                </div>
              </ng-template>
            </div>

            <div cdkDropList *ngFor="let list of lists"></div>
          </div>
        </ng-container>

        <button mat-stroked-button color="accent" class="btn-block" (click)="createFormula()"
                [disabled]="validateCreateButton()">
          Stwórz formułę
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
