<div class="card-container">
  <mat-card>
    <section>
      <mat-progress-bar *ngIf="progressBar"
                        [color]="'primary'"
                        [mode]="'indeterminate'">
      </mat-progress-bar>
    </section>

    <mat-card-content>
      <form fxLayout="column" [formGroup]="formulaFormGroup">
        <mat-card-title>Stwórz formułę automatycznego sterowania</mat-card-title>
        <div>
          <mat-form-field>
            <input matInput placeholder="Nazwa" formControlName="nameCtrl" required>
            <mat-error>Nazwa jest <b>wymagana</b></mat-error>
          </mat-form-field>
        </div>

        <button mat-stroked-button color="accent" class="btn-block" (click)="changeTimeRule()"
                *ngIf="!isTimeRuleCreatorVisible">
          Stwórz regułę czasową
        </button>

        <ng-container *ngIf="isTimeRuleCreatorVisible">
          <mat-card-title class="subtitle">
            Reguła czasowa
            <div fxLayoutAlign="end">
              <button mat-button class="view-btn" (click)="changeTimeRule()"
                      matTooltip='Usuń regułę czasową'>
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-card-title>

          <div>
            <mat-form-field>
              <input matInput type="time" placeholder="Godzina rozpoczęcia" formControlName="timeStartCtrl"
                     (change)="populateTimeStart($event.target.value)">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <input matInput type="time" placeholder="Godzina zakończenia" formControlName="timeEndCtrl"
                     (change)="populateTimeEnd($event.target.value)">
            </mat-form-field>
          </div>

          <mat-card-subtitle>Aktywna w dni tygodnia:</mat-card-subtitle>
          <div>
            <mat-button-toggle-group name="daysPicker" multiple>
              <mat-button-toggle *ngFor="let day of selectableDays" [value]="day"
                                 (change)="day.selected = !day.selected"
                                 [checked]="day.selected">{{day.name}}</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </ng-container>

        <div *ngIf="isLogicRuleCreatorVisible && isTimeRuleCreatorVisible">
          <mat-card-subtitle>Operator logiczny pomiędzy okresem czasu i regułą:</mat-card-subtitle>

          <mat-button-toggle-group #group="matButtonToggleGroup" [(value)]="mainOperator">
            <mat-button-toggle value="or">
              LUB
            </mat-button-toggle>
            <mat-button-toggle value="and">
              I
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <button mat-stroked-button color="accent" class="btn-block" (click)="changeLogicRule()"
                *ngIf="!isLogicRuleCreatorVisible">
          Stwórz regułę logiczną
        </button>

        <ng-container *ngIf="isLogicRuleCreatorVisible">
          <mat-card-title class="subtitle">
            Reguła logiczna
            <div fxLayoutAlign="end">
              <button mat-button class="view-btn" (click)="changeLogicRule()"
                      matTooltip='Usuń regułę logiczną'>
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-card-title>
          <mat-card-subtitle>
            1. Należy utworzyć fragmenty reguły wykorzystująć poniższe opcje
          </mat-card-subtitle>

          <div class="rule-selector" fxLayout="column" fxLayoutAlign="start start">
            <table>
              <tr>
                <th>Reguła zanegowana?</th>
                <th>Nazwa czujnika</th>
                <th>Operator porównania</th>
                <th>Wartość czujnika</th>
              </tr>
              <tr>
                <td>
                  <div fxLayout="column" fxLayoutAlign="center center">
                    <mat-checkbox [checked]="isNegated" (change)="toggleIsNegated($event.checked)"></mat-checkbox>
                  </div>
                </td>
                <td>
                  <mat-form-field fxLayout="column" fxLayoutAlign="center center">
                    <mat-select [(value)]="sensorName" (selectionChange)="sensorSelectionChanged($event.value)">
                      <mat-option *ngFor="let sensor of sensors" [value]="sensor">{{sensor}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td>
                  <ng-container *ngIf="sensorType">
                    <mat-form-field *ngIf="sensorType.readingType === 'Decimal'" fxLayout="column"
                                    fxLayoutAlign="center center">
                      <mat-select [(value)]="comparisonSign">
                        <mat-option
                          *ngFor="let comparison of
                        ['przyjmuje stan',
                        'nie przyjmuje stanu',
                        'przyjmuje stan równy lub większy od',
                        'przyjmuje stan równy lub mniejszy od']"
                          [value]="comparison">{{comparison}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="sensorType.readingType !== 'Decimal'" fxLayout="column"
                                    fxLayoutAlign="center center">
                      <mat-select [(value)]="comparisonSign">
                        <mat-option
                          *ngFor="let comparison of
                        ['przyjmuje stan',
                        'nie przyjmuje stanu']"
                          [value]="comparison">{{comparison}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </ng-container>
                </td>
                <td>
                  <ng-container *ngIf="sensorType">
                    <ng-container *ngIf="sensorType.readingType === 'Decimal'">
                      <form>
                        <mat-form-field fxLayout="column" fxLayoutAlign="center center">
                          <input matInput type="number" placeholder="Wartość odczytu" [formControl]="sensorValueControl"
                                 (keyup)="setDecimalSensorValue()">
                        </mat-form-field>
                      </form>
                    </ng-container>
                    <ng-container *ngIf="sensorType.readingType === 'Enum'">
                      <mat-form-field fxLayout="column" fxLayoutAlign="center center">
                        <mat-select [(value)]="selectedEnumerator">
                          <mat-option *ngFor="let enumerator of enumerators"
                                      [value]="enumerator">
                            {{enumerator}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </ng-container>
                    <ng-container *ngIf="sensorType.readingType === 'Boolean'">
                      <div fxLayout="column" fxLayoutAlign="center center">
                        <mat-slide-toggle [(ngModel)]="selectedBooleanSensorValue"
                                          (change)="onChangeBooleanSensorValue($event.checked)">
                        </mat-slide-toggle>
                      </div>
                    </ng-container>
                  </ng-container>
                </td>
              </tr>
            </table>

            <div fxLayout="row" fxLayoutAlign="start start" *ngIf="sensorName !== null && comparisonSign !== null && sensorType !== null &&
              (selectedBooleanSensorValue !== null && sensorType.readingType === 'Boolean')
              || (selectedEnumerator && sensorType.readingType === 'Enum')
              || (selectedDecimalSensorValue !== null && sensorType.readingType === 'Decimal')">
              <div fxLayout="column">
                <mat-card-subtitle>Obecnie tworzony fragment reguły</mat-card-subtitle>
                <b fxFlex>
                  <ng-container *ngIf="isNegated">Gdy nieprawdą jest, że czujnik o nazwie</ng-container>
                  <ng-container *ngIf="!isNegated">Jeżeli czujnik o nazwie</ng-container>
                  <b class="color-primary"> {{sensorName}}</b>
                  {{comparisonSign}}
                  <b class="color-primary"
                     *ngIf="sensorType !== null && sensorType.readingType === 'Boolean' && selectedBooleanSensorValue === true">
                    alternatywny</b>
                  <b class="color-primary"
                     *ngIf="sensorType !== null && sensorType.readingType === 'Boolean' && selectedBooleanSensorValue === false">
                    podstawowy</b>
                  <b class="color-primary"
                     *ngIf="sensorType !== null && sensorType.readingType === 'Enum' && selectedEnumerator"> {{selectedEnumerator}}</b>
                  <b class="color-primary"
                     *ngIf="sensorType !== null && sensorType.readingType === 'Decimal' && selectedDecimalSensorValue !== null"> {{selectedDecimalSensorValue}}</b>.
                </b>
              </div>

              <button mat-stroked-button color="accent" class="add-rule-button" (click)="addRule()">
                Utwórz fragment reguły
              </button>
            </div>
          </div>

          <mat-card-subtitle>
            2. Należy wykorzystać uprzednio stworzone fragmenty do utworzenia reguły w kreatorze reguł
          </mat-card-subtitle>

          <div cdkDropListGroup class="drag-boundary" fxLayout="row">

            <div fxLayout="column">

              <div class="drag-container">
                <h3>Dostępne fragmenty reguły</h3>
                <div
                  cdkDropList
                  #ruleFragmentList="cdkDropList"
                  [id]="'ruleFragmentList'"
                  [cdkDropListConnectedTo]="cdkDropTrackLists"
                  [cdkDropListData]="ruleFragmentListData"
                  class="drag-list"
                  (cdkDropListDropped)="dropBasic($event)">
                  <div class="drag-box" *ngFor="let item of ruleFragmentListData" cdkDrag [cdkDragData]="item"
                       cdkDragBoundary=".drag-boundary">
                    <div *cdkDragPlaceholder class="drag-placeholder"></div>
                    {{item}}
                  </div>
                </div>
              </div>

              <div class="drag-container">
                <h3>Operatory logiczne</h3>
                <div
                  cdkDropList
                  #basicList="cdkDropList"
                  [id]="'basicList'"
                  [cdkDropListConnectedTo]="cdkDropTrackLists"
                  [cdkDropListData]="basicListData"
                  class="drag-list"
                  (cdkDropListDropped)="dropBasic($event)">
                  <div class="drag-box" *ngFor="let item of basicListData" cdkDrag [cdkDragData]="item"
                       cdkDragBoundary=".drag-boundary">
                    <div *cdkDragPlaceholder class="drag-placeholder"></div>
                    {{item}}
                  </div>
                </div>
              </div>

            </div>

            <div>
              <h3>Kreator reguły</h3>

              <ng-container [ngTemplateOutlet]="ruleCreator"
                            [ngTemplateOutletContext]="{$implicit:
                            ruleFragmentData === null
                            ? createRuleFragmentData(null, null)
                            : ruleFragmentData}">
              </ng-container>

              <ng-template #ruleCreator let-ruleItemData>
                <div fxLayout="row" fxLayoutAlign="start center">
                  <div class="drag-container custom-drag-container">
                    <div
                      cdkDropList
                      [cdkDropListConnectedTo]="cdkDropTrackLists"
                      [cdkDropListData]="ruleItemData.currentData"
                      class="drag-list"
                      (cdkDropListDropped)="drop($event)">
                      <p *ngIf="ruleItemData.currentData.length === 0" fxLayoutAlign="center center"
                         class="drag-list-text">
                        <i>Upuść fragment reguły lub operator logiczny łączący kolejne elementy</i>
                      </p>
                      <div class="drag-box" *ngFor="let item of ruleItemData.currentData" cdkDrag [cdkDragData]="item"
                           cdkDragBoundary=".drag-boundary">
                        <div *cdkDragPlaceholder class="drag-placeholder"><p>Test</p></div>
                        {{item}}
                      </div>
                    </div>
                  </div>

                  <div fxLayout="column" *ngIf="ruleItemData.currentData && ruleItemData.currentData.length > 0">
                    <ng-container
                      [ngTemplateOutlet]="ruleCreator"
                      [ngTemplateOutletContext]="{$implicit:
                      ruleItemData.nextRightData === null
                      ? createRuleFragmentData(ruleItemData, true)
                      : ruleItemData.nextRightData}">
                    </ng-container>

                    <ng-container
                      [ngTemplateOutlet]="ruleCreator"
                      [ngTemplateOutletContext]="{$implicit:
                      ruleItemData.nextLeftData === null
                      ? createRuleFragmentData(ruleItemData, false)
                      : ruleItemData.nextLeftData}">
                    </ng-container>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </ng-container>

        <button mat-stroked-button color="accent" class="btn-block" (click)="createFormula()"
                [disabled]="validateCreateButton()">
          Stwórz formułę
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
