<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Logowanie</mat-card-title>
    </mat-card-header>

    <form class="form">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" [formControl]="emailFormControl">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Proszę podać poprawny adres email
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email jest <strong>wymagany</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Hasło" [formControl]="passwordFormControl">
          <mat-error *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')">
            Proszę podać poprawne hasło
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Hasło jest <strong>wymagane</strong>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" (click)="onLogIn()">Zaloguj się</button>
    </form>
  </mat-card>

</div>
