html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
  background: url("/assets/img/initial-background.png") no-repeat center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}
