mat-card {
  margin: 50px;
  width: 700px;

  table {
    width: 100%;
    height: 80%;
    box-shadow: none;

    tr {
      vertical-align: top;

      td {
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }
  }
}
