<mat-card class="table-card">
  <mat-form-field>
    <input matInput
           (keyup)="applyFilter($event.target.value)"
           placeholder="Filtr">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa</th>
      <td mat-cell *matCellDef="let element"> {{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="productKey">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Klucz produktu</th>
      <td mat-cell *matCellDef="let element"> {{element.productKey}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Grupy użytkowników</th>
      <td mat-cell *matCellDef="let element" class="td-btn">
        <button mat-button class="group-btn" (click)="userGroupClicked(element.productKey)">
          <mat-icon matTooltip='Wyświetl listę grup użytkowników grupy urządzeń'>group</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>

</mat-card>

<mat-card class="add-device-card" fxFlex>
  <mat-card-content fxLayout="column" fxLayoutAlign="center center">
    <p>Dodaj nowe urządzenie główne do swojej listy</p>
    <button mat-stroked-button color="accent" class="btn-block" (click)="addNewDeviceGroup()">Dołącz urządzenie główne</button>
  </mat-card-content>
</mat-card>
