<div fxLayout="row" fxFlexFill>
  <mat-card>
    <mat-card-content>
      <table *ngIf="sensor">
        <tr>
          <td class="header">Nazwa:</td>
          <td><b>{{sensor.name}}</b></td>
        </tr>

        <tr>
          <td class="header">Ostatni odczyt:</td>
          <td><b>{{sensor.readingValue}}</b></td>
        </tr>

        <tr>
          <td colspan="3">
            <mat-divider></mat-divider>
          </td>
        </tr>

        <tr>
          <td class="header">Klucz urządzenia:</td>
          <td><b>{{sensor.deviceKey}}</b></td>
        </tr>

        <tr>
          <td class="header">Typ:</td>
          <td><b>{{sensor.sensorTypeName}}</b></td>
        </tr>

        <tr>
          <td class="header">Grupa użytkowników:</td>
          <td><b>{{sensor.isAssigned ? sensor.sensorUserGroup : 'Brak grupy'}}</b></td>
          <td>
            <button mat-button class="view-btn" (click)="showUserGroupChangeCard()">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </tr>

        <tr>
          <td colspan="3">
            <mat-divider></mat-divider>
          </td>
        </tr>

        <tr>
          <td class="header">Zsynchronizowany:</td>
          <td><b>{{sensor.isUpdated}}</b></td>
        </tr>

        <tr>
          <td class="header">Aktywny:</td>
          <td><b>{{sensor.isActive}}</b></td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>

  <mat-card class='user-group-card' *ngIf="isUserGroupChangeCardVisible">
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <mat-label>Nazwa grupy</mat-label>
        <mat-select [(value)]="selectedUserGroup">
          <mat-option *ngFor="let userGroup of userGroups" [value]="userGroup.name">{{userGroup.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-stroked-button color="accent" class="btn-block" (click)="changeUserGroup()">
        Zmień grupę użytkowników
      </button>
      <button mat-stroked-button color="primary" class="btn-block" (click)="deleteUserGroup()">
        Usuń z grupy użytkowników
      </button>
    </mat-card-content>
  </mat-card>
</div>
