<mat-toolbar color="primary">
  <p *ngIf="!isGetUsersGroupsListButtonClicked &&
 !isGetSensorsListButtonClicked &&
 !isGetDeviceListButtonClicked&&
 !isGetUnconfiguredListButtonClicked&&
 !isGetSensorTypesListButtonClicked&&
 !isGetDevicesTypesListButtonClicked">Strona domowa</p>
  <p *ngIf="isGetUsersGroupsListButtonClicked">Grupy użytkowników</p>
  <p *ngIf="isGetSensorsListButtonClicked">Czujniki</p>
  <p *ngIf="isGetDeviceListButtonClicked">Urządzenia</p>
  <p *ngIf="isGetUnconfiguredListButtonClicked">Nieskonfigurowane urządzenia</p>
  <p *ngIf="isGetSensorTypesListButtonClicked">Typy czujników</p>
  <p *ngIf="isGetDevicesTypesListButtonClicked">Typy urządzeń</p>
</mat-toolbar>
