<div fxLayout="row">
  <mat-card class="table-card">
    <mat-form-field>
      <input matInput
             (keyup)="applyFilter($event.target.value)"
             placeholder="Filtr">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa</th>
        <td mat-cell *matCellDef="let element"> {{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Szczegóły</th>
        <td mat-cell *matCellDef="let element" class="td-btn">
          <button mat-button class="group-btn" (click)="viewExecutiveType(element.name)"
                  matTooltip='Sprawdź szczegóły i modyfikuj typ urządzenia'>
            <mat-icon>zoom_in</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>

  </mat-card>

  <div fxLayout="column" fxFlex>
    <mat-card class="details-card" *ngIf="executiveType">
      <mat-card-content>
        <table>
          <tr>
            <td>Nazwa typu urządzenia:</td>
            <b>
              <td>{{executiveType.name}}</td>
            </b>
          </tr>
          <tr>
            <td colspan="2">
              <mat-divider></mat-divider>
            </td>
          </tr>
          <tr>
            <td>Typ bazowy:</td>
            <b>
              <td>{{executiveType.stateType}}</td>
            </b>
          </tr>
          <tr *ngIf="executiveType.stateType === 'Liczbowy'">
            <td>Minimalna wartość:</td>
            <b>
              <td>{{executiveType.stateRangeMin}}</td>
            </b>
          </tr>
          <tr *ngIf="executiveType.stateType === 'Liczbowy'">
            <td>Maksymalna wartość:</td>
            <b>
              <td>{{executiveType.stateRangeMax}}</td>
            </b>
          </tr>
          <tr *ngIf="executiveType.stateType === 'Wyliczeniowy'">
            <td>Dostępne wartości:</td>
            <b>
              <td>
                <div *ngFor="let enumType of executiveType.enumerator">{{enumType.text}}</div>
              </td>
            </b>
          </tr>
          <tr>
            <td>Stan domyślny:</td>
            <b>
              <td>{{executiveType.defaultState}}</td>
            </b>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content fxLayout="column" fxLayoutAlign="center center">
        <p>Dodaj nowy typ urządzenia</p>
        <button mat-stroked-button color="accent" class="btn-block" (click)="addExecutiveType()">
          Dodaj typ urządzenia
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
